Repository fedKotikeD/breaking-facility-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: DO NOT MERGE, Documentation

.github/labeler.yml:

"DO NOT MERGE":
- '**/README.md'
- '**/LICENSE'
- '**/github/**'

"Documentation":
- '**/*.md'
- '**/*.txt'
- '**/*.docx'

first
  RUN_THIS.py
Labels: none

hide
  RUN_THIS.py
Labels: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Edit license to CC BY-NC-ND
  LICENSE
Labels: DO NOT MERGE

More info in README
  README.md
Labels: DO NOT MERGE, Documentation

Update README.md
  README.md
Labels: DO NOT MERGE, Documentation

create base activity
  RUN_THIS.py
Labels: none

Команда >status #3
  RUN_THIS.py
Labels: none

fix??
  RUN_THIS.py
Labels: none

comment json
  RUN_THIS.py
Labels: none

server_ip
  RUN_THIS.py
Labels: none
